<% content_for :title do %>Stacks<% end %>

<form>
  タグ指定で絞り込み
  tag: <%= @tag %>,
  keyword: <%= @keyword %>
</form>

<table class="table">
  <tbody>
    <% @stacks.each do |stack| %>
      <tr>
        <td>
          <%= link_to stack.title, stack %><br/>
          <%= tags(stack) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
