<% content_for :title do %>Stacks<% end %>

<table class="table">
  <tbody>
    <% @stacks.each do |stack| %>
      <tr>
        <td>
          <%= link_to stack.title, stack %><br/>
          <% stack.stacks_tags.each do |t| %>
            <%= link_to t.name, "#", class: "label label-default" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
