body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.alert {
  box-shadow: none;
}

footer.footer {
  margin: auto;
  text-align: center;
  clear: both;
}

footer.footer a{
  color: darkgray;
}
